#display {
    padding: 5%;
    font-weight: bold;
    border: 0.5% solid #326464;
    background-color: #8fcaca;
    border-radius: 10%;
    width: 50%;
}
#display_organizado {
    padding: 5%;
    font-weight: bold;
    border: 0.5% solid #C8C8FA;
    background-color: #4f4f84;
    border-radius: 10%;
    width: 50%;
}